@font-face {
    font-family: 'gi-regular';
    src: url("glacial-indifference/GlacialIndifference-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'gi-bold';
    src: url("glacial-indifference/GlacialIndifference-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'gi-italic';
    src: url("glacial-indifference/GlacialIndifference-Italic.otf") format("opentype");
}

* a:link, a:visited, a:active {
    text-decoration: none;}

h1{
    font-family: 'gi-bold';
    font-size: 100px;
    line-height: 85px;
    /* color: #008083; */
}

h2{ 
    font-family: 'gi-regular';
    font-size: 30px;
}

h3{
    font-family: 'gi-italic';
    font-size: 30px;

}

p{
    font-family: 'gi-regular';
    font-size: 18px;

}

/* navigation bar */

nav {
    display: flex;
    justify-content: space-between;
    color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

nav a, nav a:visited, nav a:link {
    color: grey;
}

nav a:active {
    color: teal;
}

nav a:hover {
    color:orange;
}

ul.menu {
    display: flex;
    list-style: none;
    font-family: 'gi-regular';

}

/* homepage css */

#logo {
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
}

.ml4 {
  position: relative;
  font-weight: 900;
  font-size: 110px;
  color: #249EA0;
}
.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0; 
}
.comment-section{
    background-color:rgb(54, 169, 155);
    border-radius: 20px;
}
#comment-box {
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    font-family: gi-regular;
    padding: 15px;
}
#post {
    border: none;
    border-radius: 20px;
    font-size: 15px;
    background-color: white;
    font-family: gi-regular;
    padding: 10px;
}
#post:hover{
    background-color: orange;
    color: white;
}
#unordered {
    font-family: gi-regular;
    color:white;
}


html {
    scroll-behavior: smooth;
}

body * {
    margin: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

main { 
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}

.heroimage {
    display: flex;
    align-items: center;
}

.titletext {
    margin-top: 10%;
}

#introimage {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    border: solid 10px rgb(255, 255, 255);
    justify-content: center;
    margin: 30px;
}
.intro {
    display: flex;
    flex-direction: row;
    background-color: orange;
    border-radius: 30px;
    color: black;
}
.introtext {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}
.introtext h3{
    font-size: 40px;
}
#logo {
    font-family: 'gi-bold';
}

/* book cards */
.book-card button {
    background-color:rgb(54, 169, 155);
    border-radius: 30px;
    font-size: 20px;
    font-family: gi-bold;
    border: none;
    padding: 10px;
}

.book-card {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 10%;
    width: 75%; */
    border-width: 0px;
    border-color: white;
    color: black;
    margin-left: 5%;
};

.book-card > img {
    justify-content: right;
    border-radius: 50%;
}

.book-card img {
    width: 20%;
    border-radius: 5%;
}
.card-footer h1{
    font-size: 50px;
    line-height: 60px;
}

.card-footer h2{
    font-size: 30px;
    line-height: 60px;
}

section > div {
    border-radius: 15px;
    background-color: none;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
}

#featured-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 100%;
}
/* movie cards */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;

    perspective: 1000px; 
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 85%;
    height: 175%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: rgb(219, 219, 219);
    color: black;
  }
  
  .flip-card-back {
    background-color: rgb(8, 186, 186);
    color: white;
    transform: rotateY(180deg);
  }
/* movie heading */
#movie-heading {
    display: flex;
    flex-direction: column;
    text-align: left;
    color:orange;
    background-color:none;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 15px;
    /* margin-top: 10px; */
    padding-top: 30px;
}
#movie-heading h1 {
    font-size: 135px;
    text-shadow: 5px 5px rgb(54, 169, 155);
}

#movie-heading h2 {
    font-size: 25px;
    color: black;
}

.movie-cards {
    display: flex;
    flex-direction: row;
    /* width: 100px; */
}
.movie-cards button {
    background-color: white;
    font-size: 20px;
    color:rgb(54, 169, 155);
    font-family: gi-bold;
    border-radius: 30px;
    border: none;
    padding: 3px;
}
.movie-cards button:hover {
    background-color: orange;
}
/* tv heading */
#tv-heading {
    display: flex;
    flex-direction: column;
    text-align: right;
    color:rgb(54, 169, 155);
    background-color:none;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 15px;
    /* margin-top: 10px; */
    padding-top: 45px;
}
#tv-heading h1 {
    font-size: 135px;
    text-shadow: 5px 5px orange;
}

#tv-heading h2 {
    font-size: 25px;
    color: black;
}
.tv-cards {
    display: flex;
    flex-direction: row;
    width: 100px;
}
.tv-cards button {
    background-color: white;
    font-size: 20px;
    color:rgb(54, 169, 155);
    font-family: gi-bold;
    border-radius: 30px;
    border: none;
    padding: 3px;
}
.tv-cards button:hover {
    background-color: orange;
}
/* rap cards */
.rap-music-page {
    display: flex;
    flex-direction: row;
}
.rap-music-card-info {
    display: flex;
    background-color:rgb(54, 169, 155);
    color: white;
    align-items: center;
    width: 500px;
}
.rap-music-card-info img {
    align-items: center;
    border: solid orange;
}

.rap-music-footer h2 {
    font-size: 50px;
    line-height: 60px;
}

/* rap review card */
.rap-review-card {
    display: flex;
    flex-direction: row;
    background-color: orange;
}

.rap-review-card-info {
    display: flex;
    flex-direction: column;
}
.rating  {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 1px;
}
.rating button{
    border-radius: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 30px;
    padding-left: 30px;
    background-color:rgb(54, 169, 155);
    color: white;
    border: none;
    font-family: gi-bold;
    font-size: 25px;
}
button a, button a:visited, button a:link {
    color:rgb(128, 194, 186)
}
button a:active {
    color: teal;
}
button a:hover {
    color: white;
}


/* music heading - RAP */
#heading-rap {
    display: flex;
    flex-direction: column;
    text-align: right;
    color: rgb(54, 169, 155);
    background-color:none;
    margin-right: 40px;
    margin-left: 40px;
    /* margin-top: 10px; */
    padding-top: 25px;
}
#heading-rap h1 {
    font-size: 170px;
    text-shadow: 5px 5px orange;

}
#heading-rap h2 {
    font-size: 20px;
    color: black;
}
/* music heading - JAZZ */
#heading-jazz {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color:none;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 15px;
    /* margin-top: 10px; */
    padding-top: 10px;
}
#heading-jazz h1 {
    font-size: 170px;
    color: orange;
    text-shadow: 5px 5px rgb(54, 169, 155);
}

#heading-jazz h2{
    font-size: 20px;
    color: black;
}

/* jazz cards */
.jazz-music-page {
    display: flex;
    flex-direction: row;
}
.jazz-music-card-info {
    display: flex;
    background-color:rgb(54, 169, 155);
    color: white;
    align-items: center;
    width: 500px;
}
.jazz-music-card-info img {
    align-items: center;
    border: solid orange;
}

.jazz-music-footer h2 {
    font-size: 65px;
    line-height: 60px;
}

.jazz-music-footer h2 {
    line-height: 70px;
}
/* jazz review card */
.jazz-review-card {
    display: flex;
    flex-direction: row;
    background-color: orange;
}

.jazz-review-card-info {
    display: flex;
    flex-direction: column;
}
/* music heading - alt */
#heading-alt {
    display: flex;
    flex-direction: column;
    text-align: right;
    background-color:none;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 15px;
    /* margin-top: 10px; */
    padding-top: 30px;
}
#heading-alt h1 {
    font-size: 170px;
    color: rgb(54, 169, 155);
    text-shadow: 5px 5px orange;
}

#heading-alt h2{
    font-size: 20px;
    color: black;
}

/* alt cards */
.alt-music-page {
    display: flex;
    flex-direction: row;
}
.alt-music-card-info {
    display: flex;
    background-color:rgb(54, 169, 155);
    color: white;
    align-items: center;
    width: 500px;
}
.alt-music-card-info img {
    align-items: center;
    border: solid orange;
}

.alt-music-footer h2 {
    font-size: 65px;
    line-height: 60px;
}

.alt-music-footer h2 {
    line-height: 70px;
}
/* alt review card */
.alt-review-card {
    display: flex;
    flex-direction: row;
    background-color: orange;
}
.alt-review-card-info {
    display: flex;
    flex-direction: column;
}
/* music heading - alt */
#heading-pop {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color:none;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 15px;
    /* margin-top: 10px; */
    padding-top: 30px;
}
#heading-pop h1 {
    font-size: 170px;
    color: orange;
    text-shadow: 5px 5px rgb(54, 169, 155);
}

#heading-pop h2{
    font-size: 20px;
    color: black;
}

/* pop cards */
.pop-music-page {
    display: flex;
    flex-direction: row;
}
.pop-music-card-info {
    display: flex;
    background-color:rgb(54, 169, 155);
    color: white;
    align-items: center;
    width: 500px;
}
.pop-music-card-info img {
    align-items: center;
    border: solid orange;
}

.pop-music-footer h2 {
    font-size: 37px;
    line-height: 60px;
}

.pop-music-footer h2 {
    line-height: 70px;
}
/* pop review card */
.pop-review-card {
    display: flex;
    flex-direction: row;
    background-color: orange;
}
.pop-review-card-info {
    display: flex;
    flex-direction: column;
}
/* for all three */
#review-body {
    display: flex;
    flex-direction: row;
}