@font-face {
    font-family: 'gi-regular';
    src: url("glacial-indifference/GlacialIndifference-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'gi-bold';
    src: url("glacial-indifference/GlacialIndifference-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'gi-italic';
    src: url("glacial-indifference/GlacialIndifference-Italic.otf") format("opentype");
}

* a:link, a:visited, a:active {
    text-decoration: none;}

h1{
    font-family: 'gi-bold';
    font-size: 100px;
    line-height: 85px;
    /* color: #008083; */
}

h2{ 
    font-family: 'gi-regular';
    font-size: 30px;
}

h3{
    font-family: 'gi-italic';
    font-size: 25px;

}

p{
    font-family: 'gi-regular';
    font-size: 18px;

}
/* homepage css */

.ml4 {
  position: relative;
  font-weight: 900;
  font-size: 110px;
  color: #249EA0;
}
.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0; 
}

#comment-box, #post {
    border: none;
    border-radius: 5px;
}
#post:hover{
    background-color: rgb(54, 169, 155);
}

/* #movies.html, #books.html, #movies.html {
    color: #a9a9a9;
}

#movies.html:hover, #books.html:hover, #movies.html:hover {
     color: white;
 } */

html {
    scroll-behavior: smooth;
}

body * {
    margin: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    /* background-color: #FAAB36; */
}

nav {
    display: flex;
    justify-content: space-between;
    color: black;
    /* background: orange; */
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

ul {
    display: flex;
    list-style: none;
    font-family: 'gi-regular';

}

main { 
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}

.titletext {
    margin-top: 10%;
}

#introimage {
    width: 30%;
    border-radius: 50%;
}

.introtext {
    display: flex;
    flex-direction: column;
    justify-content: right;
    background-color: orange;
    padding: 3%;
    border-radius: 30px;
    color: white;
}

#logo {
    font-family: 'gi-bold';
}

/* book cards */

.book-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 75%;
    border-width: 0px;
    border-color: white;
    color: black;
    margin-left: 13%;
};

.book-card > img {
    justify-content: right;
    border-radius: 50%;
}

.book-card img {
    width: 20%;
    border-radius: 50%;
}

section > div {
    border-radius: 15px;
    background-color: none;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
}

#featured-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 100%;
}
/* movie cards */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;

    perspective: 1000px; Remove this if you don't want the 3D effect
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 85%;
    height: 175%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: rgb(219, 219, 219);
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgb(8, 186, 186);
    color: white;
    transform: rotateY(180deg);
  }

 /* Style the back side
 .tv-flip-card-back {
    background-color: orange;
    color: white;
    transform: rotateY(180deg);
      }
     */

/* music cards */
.music-page {
    display: flex;
    flex-direction: row;
}
.music-card-info {
    display: flex;
    background-color:rgb(54, 169, 155);
    color: white;
    align-items: center;
    width: 95%;
}
.music-card-info img {
    align-items: center;
    border: solid orange;
}

#music-content{
    /* width: 60%; */
    /* padding: 20px; */ */
    /* /* margin: 10px; */
}

.music-footer h2 {
    font-size: 65px;
    line-height: 60px;
}
/* reviewc card */
.review-card {
    display: flex;
    flex-direction: row;
    background-color: orange;
}

.review-card-info {
    display: flex;
    flex-direction: column;
}

/* music heading - rap */
#heading-rap {
    display: flex;
    flex-direction: column;
    text-align: right;
    color:rgb(54, 169, 155);
    background-color:none;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 15px;
    /* margin-top: 10px; */
    padding-top: 25px;
}
#heading-rap h1 {
    font-size: 170px;
}

#heading-rap h2 {
    font-size: 20px;
    color: black;
}

#heading-jazz {
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* movie heading */
#movie-heading {
    display: flex;
    flex-direction: column;
    text-align: left;
    color:orange;
    background-color:none;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 15px;
    /* margin-top: 10px; */
    padding-top: 30px;
}
#movie-heading h1 {
    font-size: 135px;
}

#movie-heading h2 {
    font-size: 25px;
    color: black;
}

.movie-cards {
    display: flex;
    flex-direction: row;
    width: 100px;
}

/* tv heading */
#tv-heading {
    display: flex;
    flex-direction: column;
    text-align: right;
    color:rgb(54, 169, 155);
    background-color:none;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 15px;
    /* margin-top: 10px; */
    padding-top: 45px;
}
#tv-heading h1 {
    font-size: 135px;
}

#tv-heading h2 {
    font-size: 25px;
    color: black;
}

.tv-cards {
    display: flex;
    flex-direction: row;
    width: 100px;
}





