/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
    padding: 15px;
    margin: 15px;
}

body {
    margin: 10px;
    font-family: 'Questrial', sans-serif;
    color: #6e7376;
}
header, section {
    padding: 20px;
}
p, li {
    line-height: 3em;
}

#tutorials {
    background-color: #eae6df;
    padding-top: 35px;
    padding-bottom: 35px;

}

#homework {
    background-color: #e4d5c8;
    padding-top: 35px;
    padding-bottom: 35px;

}

#inspiration {
    background-color: #c1c8cd;
    padding-top: 35px;
    padding-bottom: 35px;
}